/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    p{
        font-size: calc(30% + 0.8vmin) !important;
        margin-bottom: 0 !important;
    }
    h5{
        font-size: calc(30% + 1.5vmin) !important;
        margin-bottom: 0 !important;
    }
    h4{
        font-size: calc(30% + 2.5vmin) !important;
        margin-bottom: 0 !important;
    }
    h3{
        font-size: calc(30% + 3.5vmin) !important;
        margin-bottom: 0 !important;
    }
    h2{
        font-size: calc(30% + 5vmin) !important;
        margin-bottom: 0 !important;
    }
    h1{
        font-size: calc(30% + 10vmin) !important;
        margin-bottom: 0 !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    p{
        font-size: calc(40% + 0.8vmin) !important;
        margin-bottom: 0 !important;
    }
    h5{
        font-size: calc(40% + 1.5vmin) !important;
        margin-bottom: 0 !important;
    }
    h4{
        font-size: calc(40% + 2.5vmin) !important;
        margin-bottom: 0 !important;
    }
    h3{
        font-size: calc(40% + 3.5vmin) !important;
        margin-bottom: 0 !important;
    }
    h2{
        font-size: calc(40% + 5vmin) !important;
        margin-bottom: 0 !important;
    }
    h1{
        font-size: calc(40% + 10vmin) !important;
        margin-bottom: 0 !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    p{
        font-size: calc(75% + 0.8vmin) !important;
        margin-bottom: 0 !important;
    }
    h5{
        font-size: calc(75% + 1.5vmin) !important;
        margin-bottom: 0 !important;
    }
    h4{
        font-size: calc(75% + 2.5vmin) !important;
        margin-bottom: 0 !important;
    }
    h3{
        font-size: calc(75% + 3.5vmin) !important;
        margin-bottom: 0 !important;
    }
    h2{
        font-size: calc(75% + 5vmin) !important;
        margin-bottom: 0 !important;
    }
    h1{
        font-size: calc(75% + 10vmin) !important;
        margin-bottom: 0 !important;
    }
}